.Message {
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 15px;
}

.Message_you {
  background-color: #ccc;
}

.Message__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.Message__author {
  margin-right: 10px;
  font-weight: 700;
}

.Message__timestamp {
  font-size: 12px;
  opacity: 0.6;
}

.Message__text {
  display: block;
  width: 100%;
  border: none;
  resize: none;
  background-color: inherit;
}
