.Message {
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 15px;
}

.Message_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Message__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.Message__author {
  margin-right: 10px;
  font-weight: 700;
}

.Message__timestamp {
  font-size: 12px;
  opacity: 0.6;
}

.Message__text {
  display: block;
  width: 80%;
  border: none;
  resize: none;
}

.Message_right .Message__text {
  text-align: right;
}
